<table
  *ngIf="paises.length > 0; else noTable"
  class="table table-hover animate__animated animate__fadeIn"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Country</th>
      <th>Capital</th>
      <th>Region</th>
      <th>People</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pais of paises; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ pais.flag }}</td>
      <td>{{ pais.name.common }}</td>
      <td *ngIf="pais.capital; else noCapital">{{ pais.capital }}</td>
      <ng-template #noCapital>
        <td>-</td>
      </ng-template>
      <td>{{ pais.subregion }}</td>
      <td>{{ pais.population | number }}</td>
      <td>
        <a
          [routerLink]="['/pais', pais.name.common.toLowerCase()]"
          routerLinkActive="router-link-active"
          ><i class="fa-solid fa-circle-info"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noTable>
  <app-no-results></app-no-results>
</ng-template>
