<h2 class="text-center">Countries: by region</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      [placeholder]="placeholder"
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
    ></app-pais-input>
  </div>
</div>

<ul *ngIf="mostrarSug && resultado.length > 0" class="list-group">
  <li
    *ngFor="let pais of sugerenciasRegion"
    class="list-group-item list-group-item-action"
    (click)="buscarSugerido(resultado)"
    routerLinkActive="router-link-active"
  >
    {{ pais.region }}
  </li>
</ul>

<hr />

<div *ngIf="isError" class="alert alert-danger">
  We could not find the result: "{{ resultado }}"
</div>

<div class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
